<template>
    <div class="fix-height">
        <main-layout>

            <md-list class="md-double-line">
                <md-subheader class="md-inset">Most popular</md-subheader>

                <md-list-item v-for="item in mostPopular" :key="item.guid" @click.native="go(item.guid)">
                    <md-avatar class="md-avatar-icon">
                        <md-icon>folder</md-icon>
                    </md-avatar>

                    <div class="md-list-text-container">
                        <span>{{item.title}}</span>
                        <p>{{item.date | formatDate}}</p>
                    </div>

                    <md-button class="md-icon-button md-list-action">
                        {{item.comments.length}}
                        <md-tooltip md-direction="left">Number of comments</md-tooltip>
                    </md-button>
                </md-list-item>

                <md-subheader class="md-inset">Recent</md-subheader>

                <md-list-item v-for="item in recent" :key="item.guid" @click.native="go(item.guid)">
                    <md-avatar md-theme="orange" class="md-avatar-icon md-primary">
                        <md-icon>collections</md-icon>
                    </md-avatar>

                    <div class="md-list-text-container">
                        <span>{{item.title}}</span>
                        <p>{{item.date | formatDate}}</p>
                    </div>

                    <md-button class="md-icon-button md-list-action">
                        {{item.comments.length}}
                        <md-tooltip md-direction="left">Number of comments</md-tooltip>
                    </md-button>
                </md-list-item>
            </md-list>

            <md-button class="md-fab md-fab-bottom-right" @click.native="openDialog('dialog1')" v-if="isLogedIn">
                <md-icon>add</md-icon>
            </md-button>

            <md-dialog ref="dialog1">
                <md-dialog-title>Create Topic</md-dialog-title>

                <md-dialog-content>
                    <form novalidate @submit.stop.prevent="submit">
                        <md-input-container>
                            <label>Topic title</label>
                            <md-input v-model="createTopicData.title"></md-input>
                        </md-input-container>

                        <md-input-container>
                            <label>Topic desciription</label>
                            <md-input v-model="createTopicData.description"></md-input>
                        </md-input-container>
                    </form>
                </md-dialog-content>

                <md-dialog-actions>
                    <md-button class="md-primary" @click.native="createTopic()">Add</md-button>
                    <md-button class="md-primary" @click.native="closeDialog('dialog1')">Close</md-button>
                </md-dialog-actions>
            </md-dialog>
        </main-layout>
    </div>
</template>

<script>
    import axios from 'axios';
    import * as _ from 'lodash'
    import MainLayout from '../layouts/Main.vue'
    import Helper from '../helpers/Helper.vue'

    import {router} from '../routes'

    export default {
        data() {
            return {
                isLogedIn: false,
                errors: [],
                topics: [],
                createTopicData: {
                    title: '',
                    description: ''
                }
            }
        },
        created: function () {
            if (this.$cookie.get('token')) {
                this.isLogedIn = true;
            }
            this.getTopics();
        },
        computed: {
            sort: function () {
                return this.topics.sort(function(a, b){
                    // ASC  -> a.length - b.length
                    // DESC -> b.length - a.length
                    return b.comments.length - a.comments.length;
                });
            },
            mostPopular: function () {
                return _.slice(this.sort, 0, 3);
            },
            recent: function () {
                return _.slice(this.sort, 3, this.topics.length);
            }
        },
        methods: {
            openDialog(ref) {
                this.$refs[ref].open();
            },
            closeDialog(ref) {
                this.article = {};
                this.$refs[ref].close();
            },
            createTopic () {
                Helper.methods.postModule(Helper.data().topics, this.createTopicData, () => {
                    this.getTopics();
                    this.closeDialog('dialog1');
                    this.createTopicData = {};
                })
            },
            getTopics () {
                Helper.methods.getModule(Helper.data().topics, (data) => {
                    this.topics = data
                })
            },
            go (guid) {
                router.push({ path: `/tread/${guid}` })
            }
        },
        filters: {
            formatDate: (value) => Helper.methods.formatDate(value)
        },
        components: {
            MainLayout,
            Helper
        }
    }
</script>

<style>
    .fix-height {
        height: 100vh;
        overflow-y: scroll;
    }
</style>