<template>
    <div class="fix-height">

        <main-layout>
            <md-bottom-bar>
                <md-bottom-bar-item md-icon="local_bar" class="amber-text" @click.native="filterByCategory('fashion')">
                    Fashion
                </md-bottom-bar-item>
                <md-bottom-bar-item md-icon="insert_chart" class="brown-text"
                                    @click.native="filterByCategory('science')">Science
                </md-bottom-bar-item>
                <md-bottom-bar-item md-icon="directions_walk" class="light-green-text"
                                    @click.native="filterByCategory('sport')">Sport
                </md-bottom-bar-item>
                <md-bottom-bar-item md-icon="history" @click.native="filterByCategory('all')" md-active>All
                </md-bottom-bar-item>
            </md-bottom-bar>
            <md-layout md-gutter>
                <md-layout md-flex-xsmall="100" md-flex-small="50" md-flex-medium="33" md-flex-large="20"
                           v-for="item in news" :key="item.guid"
                           v-if="category === item.category || category === 'all'">

                    <md-card class="card-fix"
                             v-bind:class="{'amber': item.category === 'fashion', 'md-primary': item.category === 'science'}">
                        <md-card-media>
                            <img class="card-image" :src="item.image" alt="People">
                        </md-card-media>

                        <md-card-header>
                            <div class="md-title fix-title">{{item.title}}</div>
                        </md-card-header>

                        <md-card-actions>
                            <md-button class="blue-grey" id="custom" @click.native="openDialog('dialog1', item)">
                                Read more
                            </md-button>
                        </md-card-actions>
                    </md-card>

                </md-layout>
            </md-layout>
        </main-layout>

        <md-button class="md-fab md-fab-bottom-right" @click.native="openDialog('dialog2')" v-if="isLogedIn">
            <md-icon>add</md-icon>
        </md-button>

        <md-dialog ref="dialog2">
            <md-dialog-title>Create Article</md-dialog-title>

            <md-dialog-content>
                <form novalidate @submit.stop.prevent="submit">
                    <md-input-container>
                        <label>Article title</label>
                        <md-input v-model="createArticleData.title"></md-input>
                    </md-input-container>

                    <md-input-container>
                        <label>Article desciription</label>
                        <md-input v-model="createArticleData.description"></md-input>
                    </md-input-container>

                    <md-input-container>
                        <label>Category</label>
                        <md-select name="category" id="category" v-model="createArticleData.category">
                            <md-option value="fashion">Fashion</md-option>
                            <md-option value="sport">Sport</md-option>
                            <md-option value="science">Science</md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container>
                        <label>Article image</label>
                        <md-input v-model="createArticleData.image"></md-input>
                    </md-input-container>
                </form>
            </md-dialog-content>

            <md-dialog-actions>
                <md-button class="md-primary" @click.native="createArticle()">Create</md-button>
                <md-button class="md-primary" @click.native="closeDialog('dialog2')">Close</md-button>
            </md-dialog-actions>
        </md-dialog>

        <md-dialog ref="dialog1">
            <md-dialog-title>{{article.title}}</md-dialog-title>
            <md-card-media class="article-image">
                <img :src="article.image" alt="People">
            </md-card-media>

            <md-dialog-content>{{article.description}}</md-dialog-content>

            <social-sharing url="http://localhost:3000/" inline-template>
                <div class="social">
                    <network network="facebook">
                        <i id="facebook" class="fa fa-2x fa-facebook"></i>
                    </network>
                    <network network="googleplus">
                        <i id="plus" class="fa fa-2x fa-google-plus"></i>
                    </network>
                    <network network="linkedin">
                        <i id="linkedin" class="fa fa-2x fa-linkedin"></i>
                    </network>
                    <network network="twitter">
                        <i id="twitter" class="fa fa-2x fa-twitter"></i>
                    </network>
                </div>
            </social-sharing>

            <md-dialog-actions>
                <md-button class="md-primary" @click.native="closeDialog('dialog1')">Close</md-button>
            </md-dialog-actions>
        </md-dialog>

    </div>
</template>

<script>
    import axios from 'axios';
    import Helper from '../helpers/Helper.vue'
    import MainLayout from '../layouts/Main.vue'
    import Vue from 'vue'

    export default {
        data () {
            return {
                isLogedIn: false,
                loading: true,
                errors: [],
                news: [],
                article: {},
                category: 'all',
                createArticleData: {
                    title: '',
                    description: '',
                    image: 'https://unsplash.it/300/250/?random',
                    category: ''
                }
            }
        },
        created: function () {
            if (this.$cookie.get('token')) {
                this.isLogedIn = true;
            }
            this.getArticles();
            this.loading = false;
        },
        beforeMount: function () {
            this.loading = false;
        },
        methods: {
            openDialog(ref, data) {
                if (data) {
                    this.article = data;
                }
                this.$refs[ref].open();
            },
            closeDialog(ref) {
                this.article = {};
                this.$refs[ref].close();
            },
            filterByCategory(filterName) {
                this.category = filterName
            },
            createArticle() {
                Helper.methods.postModule(Helper.data().articles, this.createArticleData, (data) => {
                    this.getArticles();
                    this.closeDialog('dialog2');
                    this.createArticleData = {};
                });
            },
            getArticles() {
                Helper.methods.getModule(Helper.data().articles, (data) => {
                    this.news = data
                });
            }
        },
        components: {
            MainLayout
        }
    }
</script>

<style scoped>
    .fix-height {
        height: 100vh;
        overflow-y: scroll;
    }

    .card-fix {
        margin: 15px;
        max-width: 300px;
    }
    .card-image {
        max-width: 300px;
        min-height: 250px;
        height: 100%;
    }
    .fix-title {
        white-space: nowrap !important;
        width: 250px !important;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
    }

    .article-image {
        background: #e7f0f4;
        height: 250px;
        padding: 20px 200px;
    }

    .article-image img {
        height: 100%;
    }

    /*colors*/
    .light-green {
        background: #8BC34A;
    }

    .light-green-text {
        color: #8BC34A !important;
    }

    .lime {
        background: #CDDC39;
    }

    .amber {
        background: #FFC107;
    }

    .amber-text {
        color: #FFC107 !important;
    }

    .brown {
        background: #795548;
    }

    .brown-text {
        color: #795548 !important;
    }

    .blue-grey {
        color: #607D8B;
    }
</style>