<template>
    <main-layout>
        <div class="tread-size">
            <md-list class="custom-list md-triple-line fix-height">
                <md-list-item v-for="item in topic.comments" :key="item">
                    <md-avatar>
                        <img src="https://placeimg.com/40/40/people/1" alt="People">
                    </md-avatar>

                    <div class="md-list-text-container">
                        <span>{{item.username}}</span>
                        <span>{{item.text}}</span>
                        <p>{{item.date | formatDate}}</p>
                    </div>

                    <md-divider class="md-inset"></md-divider>
                </md-list-item>
            </md-list>

            <!--<my-editor></my-editor>-->
            <div v-if="isLogedIn">
                <md-input-container>
                    <label>Comment text</label>
                    <md-input v-model="addCommentData.text"></md-input>
                </md-input-container>
                <md-button class="md-primary" @click.native="addComment()">Add</md-button>
            </div>
        </div>
    </main-layout>
</template>

<script>
    import axios from 'axios';
    import MainLayout from '../layouts/Main.vue'
    import Helper from '../helpers/Helper.vue'
    import Editor from '../components/Editor.vue'

    export default {
        data() {
            return {
                isLogedIn: false,
                topic: {},
                addCommentData: {
                    text: ''
                }
            }
        },
        created: function () {
            if (this.$cookie.get('token')) {
                this.isLogedIn = true;
            }
            this.getTread()
        },
        methods: {
            getTread () {
                Helper.methods.getModule(Helper.data().tread + this.$route.params.id, (data) => {
                    this.topic = data
                });
            },
            addComment () {
                Helper.methods.putModule(Helper.data().tread + this.$route.params.id, {
                    text: this.addCommentData.text,
                    username: this.$cookie.get('username')
                }, (data) => {
                    this.getTread();
                    this.addCommentData = {};
                });
            }
        },
        filters: {
            formatDate: (value) => Helper.methods.formatDate(value)
        },
        components: {
            MainLayout,
            Editor
        }
    }
</script>

<style scoped>
    .tread-size {
        width: 70%;
        margin: 0 auto;
    }
    @media (max-width: 800px) {
        .tread-size {
            width: 100%;
        }
    }

    .fix-height {
        height: 65vh;
        overflow-y: scroll;
    }
</style>